In [6]:
import pandas as pd

In [17]:
all_data = pd.read_csv('lines.csv')
del all_data['Unnamed: 0']

In [18]:
length = len(all_data)
length

74398

In [19]:
num_batches = 10
batch_size = int(length/num_batches)
batch_size

7439

In [20]:
all_data.drop(columns=["Unnamed: 0.1"])

,street,speed,pin1,pin2,x1,y1,x2,y2,left_intersect_id,right_intersect_id,manhattan
0,Abbotsford,20,2121,2121,-71.093711,42.314962,-71.093630,42.314954,0,1,0.000088
1,Abbotsford,20,2121,2121,-71.093630,42.314954,-71.093441,42.314902,2,3,0.000241
2,Abbotsford,20,2121,2121,-71.093441,42.314902,-71.092802,42.314702,4,5,0.000840
3,Abbotsford,20,2121,2121,-71.092802,42.314702,-71.091805,42.314362,6,7,0.001337
4,Abbotsford,20,2121,2121,-71.091805,42.314362,-71.091540,42.314276,8,9,0.000351
...,...,...,...,...,...,...,...,...,...,...,...
74393,Cedar,25,2119,2119,-71.092496,42.326760,-71.092724,42.326819,148786,148787,0.000287
74394,Cedar,25,2119,2119,-71.092724,42.326819,-71.092919,42.326873,148788,148789,0.000249
74395,Washington,20,2108,2108,-71.057871,42.358041,-71.057841,42.358454,148790,148791,0.000443
74396,Washington,20,2108,2108,-71.057841,42.358454,-71.057828,42.358626,148792,148793,0.000185
74397,Harrison,25,2118,2118,-71.067424,42.341104,-71.067779,42.340830,148794,148795,0.000629

In [22]:
for i in range(10):
    start = i * batch_size
    if (i == 9):
        end = length
    else:
        end = (i+1) * batch_size
    subdata = all_data.iloc[start:end, :]
    title = 'streets' + str(i) + '.csv'
    subdata.to_csv(title, encoding="utf-8")